html{
    background-color: seagreen;
}
h1{
    color: darkred;
}
h3{
    color: lightcyan;
}
.header{
    display: flex;
    justify-content: center;
    background-color: mediumspringgreen;
}
/* @media screen and (min-width: 300px){
    body{
        background-color: seagreen;
        color: sienna;
    }
} */